html {
	background-color: gray;
}

body {
/*typography Declarations */
    color: #222222;
    font-size: 1em;
    font-family: "Open Sans" , "Helvetica Neue" , sans-serif;
}

/**header picture css */
.masthead {
	padding: 6.5em 0;
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/Hopetoun_falls.jpg/1024px-Hopetoun_falls.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border-style: solid;
}

.masthead-heading {
	text-align: center;
	font-weight: bold;
	font-size: 3em;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	color: #FFB019;
	text-shadow: 3px 3px #000;
}

/** content css */
.intro {
	margin-left: 1em;
}

.intro h2 {
	font-family: "Roboto";
}

.intro img {
	height: 25em;
	width: 50em;
}

.intro h3 {
	text-align: center;
}

/** footer */
.social {
  background-color: gray;
  overflow: auto;
  padding-bottom: 9.375rem;
  text-align:center;
}

.social hr {
  border: 0;
  border-top: 1px solid #eaebec;
  margin: 1.31rem 0;
}

.social .icons > li {
  border-radius: 1.25rem;
  width: 2.5rem;
  height: 1.1rem;
  display: inline-block;
  margin: 1.25rem 5px;
  border: 1px solid #eaebec;
  padding: 0.625rem 0;
  text-align: center;
}

.social .icons > li:hover {
  cursor: pointer;
}

.social .twitter {
  color: #55acee;
}

.social .facebook {
  color: #4c66a4;
}

.social .instagram {
  color: #3f729b;
}

.social .copy {
  font-size: 0.9rem;
  font-weight: 300;
  color: #FFB019;
}

/*added myself to center the 3 footer icons*/
.social .icons { 
	padding: 0;
}